/***** GENERAL STYLING *****/
/*Affects entire document */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    margin: 0%;
    overflow-x: hidden;
    letter-spacing: .2vw;
    /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1;
    /* This and transition affect the page loading fade in effect */
    transition: 3s opacity;
    user-select: none;
    /* This prevents the text on the webpage from being highlighted by the user */
}

/* This section contributes to the fade effect for the page that occurs when the page is loaded */
body.fade-out {
    opacity: .1;
    /* This sets the level of opacity at the start of page load */
}

/* Heading 1 elements */
h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    color: #1a1a1a;
    font-family: "Trebuchet MS", Optima;
}
.contact {
    cursor: pointer;
}

h1:hover {
    filter: grayscale(5%);
    /* Adds a slightly gray filter to the h1 headings when hovered over */
    transform: scale(1.1);
    /* When the h1 elements are hovered over they increase in size by 1.1 */
    transition: transform 1s;
    /* This causes the transformation to last 1 second */
}


/* Styling for portfolio title text */
.white-text {
    color: #fff;
    /* This is used to change the color of the portfolio title text */
    padding-top: 10vh;

}

/* Paragraph elements */
p {

    font-family: Perpetua, Rockwell Extra Bold;
    font-size: 20px;
    padding-right: 20px;
    /* Adds padding to the right of the paragraph element */
    padding-left: 20px;
    /* Adds padding to the left of the paragraph element */
    letter-spacing: 1px;
    /* This expands the text slightly */
    text-align: justify;
    /* Justify text within paragraph elements */
}

p:hover {
    transition: transform 1s;
    /* This makes the transform effect last 1 second */
    transform: scale(1.01);
    /* This makes the paragraphs increase slightly in size when hovered over */
}

.center {
    text-align: center;
    -webkit-animation: moveNavText 5s;
    /* This applies the moveNavText animation below for Safari 4.0 - 8.0 */
    animation: moveNavText 5s;
    /* This applies the moveNavText animation for all other browsers */
}

.center:hover {
    transition: transform 2s;
    /* This makes the transform effect last 2 seconds */
    transform: scale(1.1);
    /* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

/* Anchor elements */
a {
    color: blue;
    /* This ensures all links are blue */
}

/* Image elements */

img {
    filter: grayscale(75%);
    /* This rids our pictures of 75% of their color */
    max-width: 100%;
    height: 340px;
    /* Sets the height of all images */
    display: block;
    /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto;
    /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
    border-radius: 8px;
}

img:hover {
    filter: grayscale(5%);
}

q {
    font-style: italic;
    /* This makes the quote italicized */
}

/* Image element hover effects */



/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 2%;
    /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: white;
}

/***** END OF GENERAL STYLING *****/
/***** NAVBAR STYLING *****/

.Navbar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s;
    /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {
        left: -50vw;
    }

    to {
        left: 0vh;
    }
}

/* Navbar links */
.Navbar a {
    float: left;
    display: block;
    color: white;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    position: relative;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {
        top: -50vh;
    }

    to {
        top: 0vh;
    }
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;

    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4;
    /* Defines the background color that will display when you hover over the link */
    color: black;
    /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in;
    /* Creates a smooth transition for the hover trigger */
    /* This makes the text on the navbar bold when hovered over */
}

.Navbar a.active {
    /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}

/***** END OF NAVBAR STYLING *****/
/***** VIDEO STYLING *****/

#Typing_video {
    position: fixed;
    width: 100%;
    /* height: 100%; */
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_video {
        display: none;
    }
}





/* Texts over the video */

.Video_Text {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    /* This provides a semi-transparent background for the text to sit over */

    color: white;
    /* Makes the font color white */
    width: 100%;
    padding: 20px;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;

}

@keyframes moveVideoText {
    from {
        top: -50vh;
    }

    to {
        top: 0vh;
    }
}

/***** END OF VIDEO STYLING *****/
/***** Slideshow Styling *****/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
    /* This creates a slightly transparent white background that's palced over the video in the background */
}

.mySlides {
    display: none;

    /* This prevents the images from being displayed, we will use JS to display these */
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
    /* This will horizontally center the container on the page */
}

/* Remove the underline from the previous and next buttons on the slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    width: 100%;
    /* The width of the images is automatically adjusted based on the content */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    /* Adds a shadow around the slideshow images */
    ;

}

.Previous,
.Next {
    cursor: pointer;
    position: absolute;
    /* This makes the next and previous buttons positioned relative to the slideshow container */
    top: 50%;
    /* This moves the buttons up in the slideshow container */
    width: auto;
    /* The width of the buttons is automatically adjusted based on the content */
    padding: 2vw;
    /* Adds padding equal to 2% of the viewport width */
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    /* Adds a slightly rounded border on the top and bottom right corners */
    user-select: none;
    /* This property makes it so that the user cannot highlight the text */
    transition: 0.6s ease;
    /* This specifies the details of the hover transition for these elements */

}

/* Positioning the next button on the right hand side */
.Next {
    right: 0;
    /* This moves the next button to the right side of the slideshow container */
    border-radius: 3px 0 0 3px;
    /* This changes the border radius on the next button to the top and bottom left of the button */
}

/* Hover effect on slide show buttons */
.Previous:hover,
.Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Makes the background of the arrows a transparent gray color */
    color: white;
    /* Makes the arrows white when hovered over */
}




/* Slideshow text */
.text {
    padding: 1vw;
    position: absolute;
    /* This ensures the text is positioned within the image */
    color: white;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    /* This gives slight spacing between the letters */
    font-size: 1.5vw;
    /* Font size is relative to the size of the viewport width */
    background-color: rgba(0, 0, 0, 0.75);
    /* Gives a slightly transparent black background */
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
    /* Gives the text background rounded corners on the bottom left and right corners */
    width: 100%;
    /* The element covers the full width of the image */
    text-align: center;
    /* The text is center aligned within the image */
    bottom: 0;
    /* This property sets the text at the bottom of the image */
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer;
    /* The cursor changes to pointer when hovered over the dots */
    height: 1vw;
    /* The dots are sized relative to the viewport width */
    width: 1vw;
    margin: .25vw;
    /* adds additional spacing between the dots */
    background-color: white;
    /* Makes the dots white */
    border-radius: 50%;
    /* Makes the dots circles by rounding each corner */
    display: inline-block;
    /* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease;
    /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1;
    /* This ensures the dots will be displayed above any other elements */
}

/* Hover effect for slideshow dots */
.active,
.dot:hover {
    background-color: black;
    /* Sets the color of the dots when active or hovered over */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade;
    /* Fade animation is defined below */
    animation-duration: 1.5s;
    /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade;
    /* Same as above for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;

}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    /* Image starts transparent */
    to {
        opacity: 1;
    }

    /* Image ends opaque */
}

@keyframes fade {
    from {
        opacity: .4;
    }

    /* Image starts transparent */
    to {
        opacity: 1;
    }

    /* Image ends opaque */
}

/***** Slideshow Styling ends *****/
/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* {
    /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
    /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    overflow: auto;
    background-color: #f2f2f2;
}
/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
/* @media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
} */
.Column_2 {
    float: left;
    padding: 10px;
    padding-top: 1.9%;
    width: 50%;
    height: 400px;
    background-color: #4d4d4d;
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: "";
    /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    clear: both;
    /* This clears any other elements from floating on the left or the right of an element */
    display: table;
    /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
}

/***** END OF TABLE STYLING *****/


/* Styling contact form */
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    animation: movePopup 3s;
    -webkit-animation: movePopup 3s;
}

@keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        right: 1.75vw;
    }
}

.form-popup {
    z-index: 8;
    /* This z-index ensures the contact form shows above all other elements on the page */
    position: fixed;
    /* The form stays in the same location no matter what */
    display: none;
    bottom: 0.5vw;
    right: 0.5vw;
}

/* styling form container */
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

/* input fields */
.form-container input[type=text] {
    width: 100%;
    /* The input boxes completely fill the width of the form-container */
    padding: .93vw;
    /* Adds padding to the input boxes */
    margin: .6vw 0 .6vw 0;
    border: none;
    /* Removes the border from the input boxes */
    background: Gainsboro;
    /* Sets the background color of the input boxes */
    font-size: 1vw;
}

/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* Hover effect for contact and submit buttons */
button:hover,
.form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

/* submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;

}

/* close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
    /* This creates a blue shadow in the text box when hovered over by the user */
}

/***** END OF CONTACT FORM STYLING *****/
/***** Media Query Section *****/
/*Media rules for paragraph font size for different screen sizes*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width:528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}
@media screen and (min-width:661) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}
@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}
/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080) {
    q {
        font-size: 3.5vw;
    }
    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}
